For our current machine: {{ ansible_hostname }}

Desired State of Packages: {{ desired_state }}

{% if desired_state == "present" %}
{# If 'desired_state' == present: #}
Packages to be installed: 
{% elif desired_state == "absent" %}
{# If 'desired_state' == absent: #}
Packages to be UNinstalled:
{% endif %}{% for apk in apt_pkgs %}
- {{ apk }} 
{% endfor %}

More data to come...
